/* todo *****************************************TITILLIUM WEB FONT***************************************************/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap');

/* todo *****************************************BASIC STYLE ***************************************************/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Titillium Web', sans-serif;
	line-height: 1.6rem;
	overflow-x: hidden;
}
:focus {
	outline: none !important;
}

.btn {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* todo *****************************************REUSEABLE COMPONENTS***************************************************/
section {
	padding-top: 8rem;
	padding-bottom: 8rem;
}
ul li {
	list-style: none;
}

a,
a:hover {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	font-weight: 600;
}
h1,
h2,
h3,
h4 {
	font-weight: 700;
}
p,
a {
	font-weight: 400;
}

h2 {
	color: #fff;
	font-size: 4rem;
	position: relative;
	margin: 0;
	letter-spacing: 0.3rem;
	font-weight: 600;
	text-transform: capitalize;
}

h2:after {
	content: '';
	display: block;
	width: 8rem;
	height: 0.3rem;
	background: #000;
	margin: auto;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

h3 {
	font-size: 2.4rem;
	color: #fff;
	margin: 0;
	margin-bottom: 1.5rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}

.sec-content p {
	color: #fff;
	font-size: 1.8rem;
	line-height: 2.6rem;
	padding-bottom: 7rem;
	margin: 0;
}

.box p {
	color: #fff;
	font-size: 1.6rem;
	line-height: 2.4rem;
	font-weight: 300;
}

/* todo *****************************************HEADER SECTION START***************************************************/
#main-header {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(135, 80, 156, 0.9)), to(rgba(135, 80, 156, 0.9))), url(../img/hero-bg.jpg);
	background: -o-linear-gradient(rgba(135, 80, 156, 0.9), rgba(135, 80, 156, 0.9)), url(../img/hero-bg.jpg);
	background: linear-gradient(rgba(135, 80, 156, 0.9), rgba(135, 80, 156, 0.9)), url('../img/hero-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	background-attachment: fixed;
	height: 90vh;
}
header#main-header nav {
	padding-top: 5rem;
}

.menu-list {
	-webkit-transform: translate(5rem, 0.5rem);
	-ms-transform: translate(5rem, 0.5rem);
	transform: translate(5rem, 0.5rem);
}
.menu-list li {
	margin: 0rem 0.5rem;
	padding: 0.5rem 0.8rem;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.menu-list li:first-child {
	background: #643a79;
	border-radius: 0.3rem;
}

.menu-list li:hover {
	background: #643a79;
	border-radius: 0.3rem;
}

.menu-list a {
	color: #fff;
	display: block;
	font-size: 1.6rem;
}

.header-content {
	padding-top: 12rem;
	padding-bottom: 12rem;
	text-align: center;
}

.header-content h1 {
	width: 92%;
	font-size: 4.2rem;
	color: #fff;
	text-align: center;
	line-height: 4.8rem;
	margin: auto;
	padding-bottom: 5rem;
}
.header-btn {
	margin-top: 2rem;
}
.header-content .work-with {
	background: #eb7d4b;
	color: #fff;
	font-size: 1.8rem;
	padding: 1.5rem 3.5rem;
	border-radius: 0.5rem;
	border-bottom: 0.4rem solid #c86a40;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.header-content .work-with:hover {
	background: #c86a40;
}
/* todo *****************************************STICKY MENU***************************************************/
.sticky {
	position: fixed;
	top: 0;
	left: 0;
	background: #834a8f;
	width: 100%;
	z-index: 1;
}
nav.sticky {
	padding-top: 2rem !important;
}
.sticky .logo {
	-webkit-transform: translate(20rem, -1rem);
	-ms-transform: translate(20rem, -1rem);
	transform: translate(20rem, -1rem);
}
.sticky .menu-list {
	-webkit-transform: translate(-20rem, -0.5rem);
	-ms-transform: translate(-20rem, -0.5rem);
	transform: translate(-20rem, -0.5rem);
}

/* todo *****************************************	MOBILE MENU***************************************************/
.mobile-menu {
	border: 2px solid #dddddd59;
	padding-top: 1rem;
	font-size: 2rem;
	border-radius: 0.5rem;
	color: #ffffffd6;
}
.sticky .mobile-menu {
	margin-right: 1.5rem;
	margin-top: -0.9rem;
}
.times {
	display: none;
}

/* todo *****************************************HEADER SECTION END***************************************************/

/* todo *****************************************SERVICE SECTION START***************************************************/
#service {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 194, 164, 0.8)), to(rgba(23, 194, 164, 0.8))), url(../img/services-bg.jpg);
	background: -o-linear-gradient(rgba(23, 194, 164, 0.8), rgba(23, 194, 164, 0.8)), url(../img/services-bg.jpg);
	background: linear-gradient(rgba(23, 194, 164, 0.8), rgba(23, 194, 164, 0.8)), url(../img/services-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
}

.main-service {
	text-align: center;
	color: #fff;
}

.main-service h2::after {
	background: #14a58c;
}
.service-img img {
	margin-bottom: 4rem;
	height: 12rem;
	cursor: pointer;
}
.main-service .box p {
	width: 20rem;
	margin-left: 3rem;
}
/* todo *****************************************SERVICE SECTION END***************************************************/

/* todo *****************************************TEAM SECTION START***************************************************/
#team {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 241, 248, 0.8)), to(rgba(231, 241, 248, 0.8))), url(../img/team-bg.jpg);
	background: -o-linear-gradient(rgba(231, 241, 248, 0.8), rgba(231, 241, 248, 0.8)), url(../img/team-bg.jpg);
	background: linear-gradient(rgba(231, 241, 248, 0.8), rgba(231, 241, 248, 0.8)), url(../img/team-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.main-team {
	text-align: center;
}

.main-team h2 {
	color: #3c4761;
}
.main-team h2::after {
	background: #c8d9e5;
}

.main-team .sec-content p {
	color: #3c4761;
	font-size: 1.6rem;
}

.team-img img {
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	margin-bottom: 2rem;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.team-box img:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.team-box h3 {
	color: #27283d;
	margin-bottom: 0.5rem;
}

.team-content a {
	font-size: 1.6rem;
	color: #30bae7;
}

.team-box p {
	color: #3c4761;
	font-weight: 300;
	padding: 1.5rem 0.5rem;
}

.team-icon a {
	display: inline-block;
	margin: 0 0.5rem;
	width: 3.5rem;
	height: 3.5rem;
	background: #bdd1df;
	border-radius: 50%;
	position: relative;
	-webkit-transition: all 0.9s;
	-o-transition: all 0.9s;
	transition: all 0.9s;
}

.team-icon i {
	color: #fff;
	font-size: 1.5rem;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.team-icon a:hover {
	background: #393939;
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

/* todo *****************************************TEAM SECTION END***************************************************/

/* todo *****************************************SKILLS SECTION START***************************************************/
#skill {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url(../img/skill-bg.jpg);
	background: -o-linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/skill-bg.jpg);
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/skill-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.main-skill {
	text-align: center;
}

.main-skill h2,
.main-skill h3 {
	color: #3c4761;
}

.main-skill h2::after {
	background: #dfe8ed;
}

.main-skill .sec-content p {
	color: #3c4761;
	width: 90%;
}

.main-skill h3 {
	margin: 0;
	padding-top: 1.5rem;
}
svg.radial-progress circle {
	stroke-width: 5;
}

svg.radial-progress text {
	fill: #3c4761;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
}
svg.web-design circle {
	stroke: #30bae7;
}
svg.html-css circle {
	stroke: #d74680;
}
svg.graphic-design circle {
	stroke: #15c7a8;
}
svg.ui-ux circle {
	stroke: #eb7d4b;
}

/* todo *****************************************SKILLS SECTION END***************************************************/

/* todo ***************************************PORTFOLIO SECTION START*************************************************/
#portfolio {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 221, 153, 0.8)), to(rgba(255, 221, 153, 0.8))), url(../img/portfolio-bg.jpg);
	background: -o-linear-gradient(rgba(255, 221, 153, 0.8), rgba(255, 221, 153, 0.8)), url(../img/portfolio-bg.jpg);
	background: linear-gradient(rgba(255, 221, 153, 0.8), rgba(255, 221, 153, 0.8)), url(../img/portfolio-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.main-portfolio {
	text-align: center;
	color: #393939;
}

.main-portfolio h2 {
	color: #393939;
}

.main-portfolio h2::after {
	background: #e5c37f;
}

.main-portfolio .sec-content p {
	color: #393939;
	padding-bottom: 4rem;
}

.portfolio-filter {
	text-align: center;
	width: 100%;
	padding-bottom: 5rem;
}

.portfolio-filter button {
	border: 0;
	outline: 0;
	border-radius: 0.5rem;
	color: #393939;
	background: #ebc985;
	padding: 1.1rem 2.5rem;
	font-size: 1.8rem;
	margin: 0 0.5rem;
	font-weight: 400;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	cursor: pointer;
}
.portfolio-filter button:hover {
	-webkit-transform: translateY(-0.5rem);
	-ms-transform: translateY(-0.5rem);
	transform: translateY(-0.5rem);
}

.portfolio-box {
	width: 80%;
	margin: auto;
	padding-bottom: 4rem;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	cursor: pointer;
}

.portfolio-box:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.portfolio-box h4 {
	font-size: 1.8rem;
	font-weight: 400;
	margin: 0;
	margin-top: 2rem;
	color: #393939;
	letter-spacing: 0.5px;
}

.portfolio-filter .active {
	background: #fff;
}

/* todo *****************************************PORTFOLIO SECTION END**********************************************/

/* todo *****************************************TESTIMONIAL SECTION START**********************************************/
#testimonial {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(215, 70, 128, 0.9)), to(rgba(215, 70, 128, 0.9))), url(../img/testimonial-bg.jpg);
	background: -o-linear-gradient(rgba(215, 70, 128, 0.9), rgba(215, 70, 128, 0.9)), url(../img/testimonial-bg.jpg);
	background: linear-gradient(rgba(215, 70, 128, 0.9), rgba(215, 70, 128, 0.9)), url(../img/testimonial-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.main-testimonial {
	text-align: center;
	color: #fff;
}

.main-testimonial h2::after {
	background: #b73c6d;
}
.testimonial-box .row {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.box-padding {
	padding-bottom: 10rem;
}
.testimonial-img img {
	border-radius: 50%;
}

.testimonial-img {
	position: relative;
}
.testimonial-img::after {
	content: '';
	background: #000;
	opacity: 0.2;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0px;
	border-radius: 100%;
	cursor: pointer;
}
.testimonial-content {
	text-align: left;
}
.testimonial-content p {
	font-style: italic;
	font-size: 2.1rem;
	line-height: 3.1rem;
	width: 98%;
	font-weight: inherit;
	margin-bottom: 1.5rem;
}
.testimonial-content h3 {
	margin: 0;
	margin-bottom: 0.5rem;
	font-size: 2.2rem;
}
.testimonial-content h4 a {
	color: #ffdd99;
	font-size: 1.6rem;
	font-weight: 400;
	letter-spacing: 0.05rem;
}
/* todo *****************************************TESTIMONIAL SECTION END**********************************************/

/* todo *****************************************CONTACT SECTION START**********************************************/
#contact {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(60, 84, 153, 0.9)), to(rgba(60, 84, 153, 0.9))), url(../img/contact-bg.jpg);
	background: -o-linear-gradient(rgba(60, 84, 153, 0.9), rgba(60, 84, 153, 0.9)), url(../img/contact-bg.jpg);
	background: linear-gradient(rgba(60, 84, 153, 0.9), rgba(60, 84, 153, 0.9)), url(../img/contact-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
}

.main-contact h2::after {
	background: #273a71;
}
.contact-box {
	text-align: center;
}
.contact-box form {
	width: 80%;
	margin: auto;
}
.contact-box input,
.contact-box textarea {
	width: 46%;
	color: #fff;
	background: #273a71;
	padding: 2rem;
	border-radius: 0.8rem;
	border: 1px solid #273a71;
	outline: none;
	font-size: 1.8rem;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	letter-spacing: 0.1rem;
	margin-bottom: 4rem;
}
.contact-box input:first-child {
	margin-right: 4rem;
}

.contact-box input::-webkit-input-placeholder,
.contact-box textarea::-webkit-input-placeholder {
	color: #fff;
}

.contact-box input::-moz-placeholder,
.contact-box textarea::-moz-placeholder {
	color: #fff;
}

.contact-box input:-ms-input-placeholder,
.contact-box textarea:-ms-input-placeholder {
	color: #fff;
}

.contact-box input::-ms-input-placeholder,
.contact-box textarea::-ms-input-placeholder {
	color: #fff;
}

.contact-box input::placeholder,
.contact-box textarea::placeholder {
	color: #fff;
}

.contact-box textarea {
	width: 97%;
}

.send-message {
	background: #30bae7;
	color: #fff;
	font-size: 1.8rem;
	padding: 1.5rem 3.5rem;
	border-radius: 0.5rem;
	text-align: center;
	outline: 0;
	border: 0;
	border-bottom: 0.4rem solid #299ec5;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.send-message:hover {
	background: #299ec5;
}

.send-message:focus {
	border: none;
	outline: none;
	border-bottom: 0.4rem solid #299ec5;
	cursor: pointer;
}

/* todo *****************************************CONTACT SECTION END**********************************************/

/* todo *****************************************FOOTER SECTION START**********************************************/

#footer {
	background: #344b8e;
	padding: 3rem 0rem;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

ul.list-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
}

ul.list-items li {
	margin: 0 2rem;
	margin-top: 1.5rem;
}

ul.list-items a {
	color: #fff;
	font-size: 2.2rem;
	font-family: 'Titillium Web';
	font-weight: 400;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	letter-spacing: 0.05rem;
}
ul.list-items a:hover {
	color: #30bae7;
}

/* todo *****************************************FOOTER SECTION END**********************************************/
/* todo ***************************************ANIMIST CSS  TEXT ANIMATION**********************************************/
.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
	animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-1-29 11:6:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px);
		transform: translateZ(400px);
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes tracking-in-contract-bck {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px);
		transform: translateZ(400px);
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
